<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>List of Users</h1>
    <ul>
        <% user.forEach(user => { %>
            <li><strong>Username:</strong> <%= user.username %>, <strong>Password:</strong> <%= user.password %></li>
        <% }) %>
    </ul>
</body>
</html>
=======

>>>>>>> 6fad01db400a0d2d24d01343f435075b5b58f2f1

